@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form {
  display: flex;
  margin-top: 36px;
  align-items: center;
  justify-content: center;
}

.button-search,
.load-btn {
  margin-left: 8px;
  background-color: #0739f1;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-weight: 500;
}

.load-btn {
  display: block;
  margin: 0 auto;
  width: max-content;
  background-color: #808080;
}

.button-search:hover,
.load-btn:hover,
.button-search:focus {
  background-color: #6c8cff;
}

.input-img {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font: inherit;
  outline: transparent;
  font-weight: 400;
  padding-left: 5px;
}

.input-img:hover {
  border-color: #000;
}

.input-img:focus {
  border-color: #4e75ff;
}

.text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  color: #2e2f42;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  gap: 24px;
  margin: 32px auto;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 2 * 24px) / 3);
  box-sizing: border-box;
  border: 1px solid #808080;
}

.gallery-image {
  object-fit: cover;
  height: 152px;
  width: 100%;
}

.info-list {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  font-size: 14px;
}

.list-item {
  text-align: center;
}

/* ___________________________Loader Styles___________________________ */

.lds-roller {
  color: #1c4c5b;
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
